@font-face {
	font-family: Droid Sans;
	src:url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciFQlYEbsez9cZjKsNMjLOwM.eot);
}
@font-face {
	font-family: Oswald;
	src:url(http://fonts.gstatic.com/s/oswald/v10/-WzdRTzRa5k6HlJK6-dK9Q.eot);
}
