HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
.hide_menu {
	Z-INDEX: 2147483647; POSITION: absolute; TEXT-ALIGN: left; WIDTH: 85%; DISPLAY: none; BACKGROUND: #182045; HEIGHT: 100%; TOP: 0px; LEFT: -100%
}
.hide_menu .scrollOver {
	TEXT-ALIGN: left; WIDTH: 100%
}
.hide_menu .overthrow {
	OVERFLOW-X: hidden; HEIGHT: 100%; OVERFLOW: auto; -webkit-text-size-adjust: none; -webkit-overflow-scrolling: touch
}
.ms_menu {
	OVERFLOW-X: hidden; WIDTH: 100%; BACKGROUND: #182045; HEIGHT: 100%; OVERFLOW: auto
}
.ms_menu UL LI A {
	POSITION: relative; COLOR: #fff; TEXT-DECORATION: none
}
.ms_menu UL LI A SPAN {
	BACKGROUND-IMAGE: url(/images/common/m_img.png); POSITION: absolute; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; RIGHT: 12px
}
.depth12 {
	WIDTH: 100%; FLOAT: right; VERTICAL-ALIGN: top
}
.depth34 {
	WIDTH: 100%; FLOAT: right; MARGIN-LEFT: 100%; VERTICAL-ALIGN: top
}
.mstit {
	LETTER-SPACING: -1px; HEIGHT: 42px; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.msico {
	WIDTH: 66px; DISPLAY: inline-block; HEIGHT: 42px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; MARGIN-RIGHT: 10px; BORDER-RIGHT: #3a4161 1px solid
}
.msico A {
	TEXT-INDENT: -99999px; WIDTH: 65px; DISPLAY: block; BACKGROUND: url(/images/common/m_img.png) no-repeat 23px 13px; HEIGHT: 42px; OVERFLOW: hidden; BORDER-RIGHT: #000 1px solid
}
/*
.depth1 {
	BORDER-BOTTOM: #000 1px solid; POSITION: relative; WIDTH: 100%
}
*/
/*
.depth1 LI {
	BORDER-TOP: #000 1px solid
}
.depth1 LI A {
	LINE-HEIGHT: 40px; PADDING-LEFT: 12px; DISPLAY: block; LETTER-SPACING: -1px; HEIGHT: 40px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.depth1 LI A SPAN {
	WIDTH: 15px; BACKGROUND-POSITION: -50px -17px; HEIGHT: 10px; TOP: 16px
}
.depth1 LI.openul {
	BACKGROUND-COLOR: #00457c
}
.depth1 LI.openul A SPAN {
	BACKGROUND-POSITION: -65px -17px
}
.depth2 {
	BACKGROUND-COLOR: #101532; DISPLAY: none
}
.depth2 LI {
	
}
.depth2 LI A {
	LINE-HEIGHT: 36px; HEIGHT: 36px; COLOR: #808080 !important; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.depth2 LI A SPAN {
	WIDTH: 15px; BACKGROUND-POSITION: -95px -17px; HEIGHT: 15px; TOP: 11px
}
.depth2 LI A:hover {
	BACKGROUND-COLOR: #0062c3; COLOR: #fff !important
}
.depth2 LI A:hover SPAN {
	BACKGROUND-POSITION: -80px -17px
}
*/
.depth3 {
	BORDER-BOTTOM: #000 1px solid; WIDTH: 100%; DISPLAY: none; MARGIN-LEFT: -100%; OVERFLOW: hidden; TOP: 0px
}
.depth3 LI {
	BORDER-TOP: #000 1px solid
}
.depth3 LI A {
	LINE-HEIGHT: 40px; PADDING-LEFT: 12px; DISPLAY: block; LETTER-SPACING: -1px; HEIGHT: 40px; COLOR: #fff !important; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.depth3 LI A SPAN {
	WIDTH: 15px; BACKGROUND-POSITION: -50px -17px; HEIGHT: 10px; TOP: 16px
}
.depth3 LI A:hover {
	BACKGROUND-COLOR: #182045; COLOR: #fff !important
}
.depth3 LI A:hover SPAN {
	BACKGROUND-POSITION: -50px -17px
}
.depth3 LI.openul2 {
	BACKGROUND-COLOR: #00457c
}
.depth3 LI.openul2 A SPAN {
	BACKGROUND-POSITION: -65px -17px
}
.depth3 LI.openul2 A:hover {
	BACKGROUND-COLOR: #00457c
}
.depth3 LI.openul2 A:hover SPAN {
	BACKGROUND-POSITION: -65px -17px
}
.depth4 {
	BACKGROUND-COLOR: #101532; DISPLAY: none
}
.depth4 LI {
	
}
.depth4 LI A {
	LINE-HEIGHT: 36px; HEIGHT: 36px; COLOR: #808080 !important; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.depth4 LI A SPAN {
	WIDTH: 15px; BACKGROUND-POSITION: -95px -17px; HEIGHT: 15px; TOP: 11px
}
.depth4 LI A:hover {
	BACKGROUND-COLOR: #0062c3 !important; COLOR: #fff !important
}
